<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<a href="/"><i class="material-icons" style="left:50px; top:10px; color: green; position:absolute"> view_list </i> </a>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<script type="text/javascript" language="javascript">
    $(function(){ $('.carousel.carousel-slider').carousel({full_width: true}); });
</script>

<div class="container">
	<div class="carousel carousel-slider center" data-indicators="true">

    <a class="carousel-item"><%= pie_chart(@category_data) %>
      <p style="text-align:center;"> Last Week </p> 
 	</a> 
    <a class="carousel-item"><%= pie_chart(@category_data) %> 
      <p style="text-align:center"> Last Month </p> 

    </a>
    <a class="carousel-item"><%= pie_chart(@category_data) %> 
      <p style="text-align:center"> Last Year </p> 

   </a>
    <a class="carousel-item"><%= pie_chart(@category_data) %> 
      <p style="text-align:center"> All Time </p> 

    </a>
  </div>

	<div class="carousel carousel-slider center" data-indicators="true">

    <a class="carousel-item"><%= line_chart @daily_expense_data %>
      <p style="text-align:center;"> Last Week </p> 
 	</a> 
    <a class="carousel-item"><%= line_chart @daily_expense_data %> 
      <p style="text-align:center"> Last Month </p> 

    </a>
    <a class="carousel-item"><%= line_chart @daily_expense_data %>
      <p style="text-align:center"> Last Year </p> 

   </a>
    <a class="carousel-item"><%= line_chart @daily_expense_data %>
      <p style="text-align:center"> All Time </p> 

    </a>
  </div>
<!--   <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#lastweek">Last Week</a></li>
        <li class="tab col s3"><a href="#lastmonth">Last Month</a></li>
        <li class="tab col s3"><a href="#lastyear">Last Year</a></li>
        <li class="tab col s3"><a href="#alltime">All Time</a></li>
      </ul>
    </div>
    <div id="lastweek" class="col s12">  	 </div>
    <div id="lastmonth" class="col s12"> 	 <%= pie_chart(@category_data) %> </div>
    <div id="lastyear" class="col s12"><%= pie_chart(@category_data) %> </div>
    <div id="alltime" class="col s12"><%= pie_chart(@category_data) %></div>
  </div> -->

	<!-- <%= line_chart @daily_expense_data %>
	<%= geo_chart({'United States'=>"44", 'Germany'=>"23", 'Brazil'=> "22"}) %>
	-->

</div>
