<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<a href="/"><i class="material-icons" style="left:50px; top:10px; color: green; position:absolute"> view_list </i> </a>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<script type="text/javascript" language="javascript">
    $(function(){ $('.carousel.carousel-slider').carousel({full_width: true}); });
</script>

<div class="container">
	<h5 style="text-align: center"> Comparison Charts </h5>
    <a>
      <p style="text-align:center;"><strong>This Week</strong></p>
      <p style="text-align:center;">Total: $<%= @expense_this_week %></p>
      <%= pie_chart(@this_week_category_data) %>
 	  </a>


    <a>
      <p style="text-align:center;"><strong>Last Week</strong></p>
      <p style="text-align:center;">Total: $<%= @expense_last_week %></p>
      <%= pie_chart(@last_week_category_data) %>
 	  </a>

	<div class="center" data-indicators="true">

    <a>
      <p style="text-align:center;"> Daily Expense </p>
      <%= column_chart @daily_expense_data %>
    </a>
    <a>
      <p style="text-align:center"> Weekly Expense </p>
      <%= column_chart @weekly_expense_data %>
    </a>

   </div>

     <a>
       <p style="text-align:center;"> Categories Timeseries </p>
       <%= line_chart(@category_multiseries) %>
     </a>
  </div>

</div>
