<%= form_for(expense) do |f| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <label for="expense" style="margin-top:7px"> How did you waste money today? </label>
    <%= f.text_field :expense, :required => true, :class=>"input-field col s6" %>
    <label for="amount" style="margin-top:7px"> How much did you waste? </label>
    <%= f.number_field :amount, :required => true, class: :text_field, step: :any %>
    <%= f.submit "Add Expense", class: "btn" %>

<% end %>
