<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .addCategory
  {
      position: relative;
      top: 7px;
  }
  #notice {
    color:green;
  }
</style>


<script type="text/javascript">
  $(document).on("click", "#createCategoryButton", function(){
      $("#newCategory").show();
      return false;

  });
  $(document).on("click", "#editBalanceButton", function(){
      $("#editBalanace").show();
      return false;

  });
</script>



<div class="container">
<p id="notice"><%= notice %></p>
<div>
  <a href="" id="editBalanceButton" ><i class="material-icons" style="bottom:10px"> credit_card </i></a> <b> $<%= @user.current_balance %> </b>
  <i class="material-icons" style="bottom:10px; color: red; margin-left:10px"> trending_down </i>  <b> $<%= @expense_this_week %> </b>
  <br/>

    <%= link_to graphs_path, method: :get do %>
   <i class="material-icons" style="right:50px; top:10px; color: green; position:absolute"> assessment </i> </a>
      <% end %>
<!--   <a href="" id="editBalanceButton"><i class="material-icons" style="bottom:10px">edit</i></a> -->
</div>
<div id="editBalanace" style="display:none;">
  <%= render 'users/form', user: @user %>
</div>

<h4>Expenses</h4>
    <div>
      <label for="category" style="margin-top:7px"> Category? </label>
      <a href="" class="addCategory" id="createCategoryButton"><i class="material-icons" style="bottom:10px">add</i></a>
    </div>
    <div id="newCategory" style="display:none;">
      <%= render 'categories/form', category: @category %>
    </div>
<div style="margin-top:10px">
<%= render 'form', expense: @expense %>
</div>



<table class="striped">
  <thead>
    <tr>
      <th> Activity </th>
      <th> Cost </th>
      <th> Date </th>
      <th> Category </th>
      <th> Oops </th>
    </tr>
  </thead>

  <tbody>

    <% @expenses.each do |expense| %>

      <tr>
        <td> <%= expense.expense %></td>
        <% if expense.gains == true%>
          <td> <font color="green"><b> <%= expense.amount %> </b> </font> </td>
        <% else %>
          <td> <font color="#F1948A"><b> <%= expense.amount %></b> </font> </td>
        <% end %>
        <td> <%= expense.date.strftime("%b %d") %></td>
        <td>
          <% if expense.category_id != nil %>
            <%= Category.find_by(id: expense.category_id).name %>
          <% end %>
         </td>
        <td> <%= link_to 'Delete', expense, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @expenses %>

<br>

</div>
